.bottomContainer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
}
.gif {
  padding: 0 2px;
  margin: 10px;
}
.gifAnimation {
  animation: fade 3s ease-in;
}
.gif:hover {
  transform: scale(1.1);
}
.gif:active {
  transform: scale(0.9) rotate(90deg);
  animation-duration: 3s;
}
.gifContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 50px;
}
.loader {
  color: white;
}
.topAndBottom {
  background-color: purple;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
header {
  background-color: darkgrey;
  text-align: center;
}
